.crear_cuenta {
    background-color: rgb(230, 230, 230);
    text-align: left;

}

.contenedor_800 {
    background-color: rgb(230, 230, 230);
    margin-left: 80px;
    margin-right: 80px;
    width: 800px;
    border: solid black;
    border-radius: 2%;

}