.iniciar_sesion {
    background-color: rgb(230, 230, 230);
    text-align: left;

}

.contenedor_500 {
    background-color: rgb(230, 230, 230);
    margin-left: 80px;
    max-width: 500px;
    border: solid black;
    border-radius: 2%;

}

@media (max-width: 768px) {
    .contenedor_500 {
        margin-left: 0; /* Elimina el margen izquierdo en pantallas medianas y más pequeñas */
    }
}
