.portada_inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.portada_imagen img {

    align-items: center;
    justify-content: center;
}

